.banner{
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    justify-content: center;
}
.banner-sub {
    position: relative;
    height: 20rem;
    margin: 1% 0%;
    border: 3px double peru;
    background-color: rgb(236, 135, 63);
    border-radius: 5px 50px;
    width: 80%;
  }
  
  .banner-sub > img {
    height: 100%;
    width: 100%;
    border-radius: 5px 50px;
  }
  .btn-left {
    position: absolute;
    top: 25%;
    left: -2%;
    height: 50%;
    width: 5%;
    color: white;
    border: none;
    font-size: 200%;
    background-color: rgb(236, 135, 63);
    border-radius: 10px;
  }
  .btn-right {
    position: absolute;
    height: 50%;
    width: 5%;
    top: 25%;
    right: -2%;
    border: none;
    color: white;
    font-size: 200%;
    background-color: rgb(236, 135, 63);
    border-radius: 10px;
  }
  .btn-right:hover,
  .btn-left:hover {
    background-color: olivedrab;
  }