*{
    margin: 0;
    padding: 0;
}
.uppernav{
    background: linear-gradient(rgba(107, 142, 35,1),rgba(107, 142, 35,0.9),rgba(107, 142, 35,0.8));
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
}

.logo{
    display: flex;
    align-items: center;
    color: white;
}
.greeting{
    color: white;
    
}

.nav-link{
    height: 50%;
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
}
.cart{
    height: 100%;
}

.logout{
    
    height: 100%;
} 
.logout>button,.cart>button{
    padding: 0 10px;
    background-color: darkgreen;
    color: white;
    border: none;
    height: 100%;
}

button{
    border-radius: 8px;
}
@media screen and (max-width: 500px) {
    .uppernav{
        justify-content: space-between
    }
    .nav-link{
        width: 25%;
    }
}